@import './../../../styles/variables.scss';

.filterOpen {
  background-color: #ebeade;
  padding: 20px 40px 15px 40px;
  max-height: 100vh;
  overflow-y: auto;

  .filterColumns {
    display: flex;
  }
}
