@import '../../styles/variables.scss';

.Main {
  position: relative;
  background-color: $color-beige;

  .MainVitamin {
    width: 100%;
    height: 800px;
  }

  .MainSecondSlide {
    width: 100%;
    height: 800px;
  }

  .MainStoreLocator {
    width: 100%;
    height: 800px;
  }
}
