@import '../../styles/variables.scss';

.mainVideo {
  height: 85vh;

  .mainVideoWrapper {
    position: relative;

    .backgroundVideo {
      width: 100%;
    }

    .wesopLogo {
      position: absolute;
      top: 20%;
      left: 3%;
      width: 150px;
    }

    .mainVideoParagraphWrapper {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 20%;
      left: 19%;
      color: $font-gray;

      .mainVideoParagraphIntro {
        margin-bottom: 15px;
        font-size: $font-small;
        font-weight: bold;
      }

      .mainVideoParagraphHeader {
        margin-bottom: 15px;
        font-size: 26px;
      }

      .mainVideoParagraphContent {
        width: 310px;
        margin-bottom: 15px;
        line-height: 1.6;
        font-size: $font-regular;
      }

      .mainVideoParagraphLink {
        @include center($justify-content: space-between);
        width: 300px;
        height: 60px;
        border: 1px solid $font-gray;
        padding: 0px 15px;
        color: $font-gray;
        font-size: $font-small;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}
