@import '../../styles/variables.scss';

.MainVideo {
  height: 85vh;

  .MainVideoWrapper {
    position: relative;

    .backgroundVideo {
      width: 100%;
    }

    .wesopLogo {
      position: absolute;
      top: 20%;
      left: 3%;
      width: 150px;
    }

    .MainVideoParagraphWrapper {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 20%;
      left: 19%;
      color: $font-gray;

      .MainVideoParagraphIntro {
        margin-bottom: 15px;
        font-size: $font-small;
        font-weight: bold;
      }

      .MainVideoParagraphHeader {
        margin-bottom: 15px;
        font-size: 26px;
      }

      .MainVideoParagraphContent {
        width: 310px;
        margin-bottom: 15px;
        line-height: 1.6;
        font-size: $font-regular;
      }

      .MainVideoParagraphLink {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;
        height: 60px;
        border: 1px solid $font-gray;
        padding: 0px 15px;
        color: $font-gray;
        font-size: $font-small;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}
