@import '../../styles/variables.scss';

.MainQuote {
  @include center;
  flex-direction: column;
  width: 100%;
  height: 500px;

  .MainQuoteWrapper {
    .MainQuoteHeader {
      margin-bottom: 20px;
      font-size: $font-large;
    }
    .MainQuoteAuthor {
      @include center;
    }
  }
}
