@import '../../styles/variables.scss';

.mainQuote {
  @include center;
  flex-direction: column;
  width: 100%;
  height: 500px;

  .mainQuoteWrapper {
    .mainQuoteHeader {
      margin-bottom: 20px;
      font-size: $font-large;
    }
    .mainQuoteAuthor {
      @include center;
    }
  }
}
