@import '../../../styles/variables.scss';

.PopupSlideIntro {
  display: flex;
  height: 200px;
  padding-left: 80px;

  .popupSlideIntroHeader {
    color: $color-dark-gray;

    .introHeaderTitle {
      width: 100%;
      margin-bottom: 30px;
      font-size: $font-small;
    }

    .introHeaderPhrase {
      width: 350px;
      font-size: $font-large;
      line-height: 1.3;
    }
  }

  .popupSlideDescription {
    width: 700px;
    min-width: 30vw;
    padding: 0 6vw;
    font-size: $font-regular;
    line-height: 1.6;
  }
}
