@import '../../styles/variables.scss';

.cart {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 40px 40px 0 40px;
  background-color: rgb(37, 37, 37);
  z-index: 3333;

  .cartProducts {
    .cartHeader {
      display: flex;
      align-items: flex-start;
      height: 30px;
      border: 1px solid rgb(188, 187, 180, 0.2);
      border-width: 0 0 1px 0;
      padding: 0 0 13px 0;
      color: rgb(188, 187, 180, 0.7);

      .cartHeaderTitleLabel {
        font-size: 13px;
        width: 40vw;
      }

      .cartHeaderSizeLabel {
        font-size: 13px;
        width: 25vw;
      }

      .cartHeaderProductLabel {
        font-size: 13px;
        width: 25vw;
      }

      .cartHeaderCloseBtn {
        position: absolute;
        right: 3vw;
        padding: 0 0 80px 0;
        background-color: transparent;
        border: none;

        i {
          color: rgb(188, 187, 180, 0.5);
          font-size: 17px;
          transition: all 0.3s;
        }

        &:hover {
          i {
            color: rgb(188, 187, 180, 1);
          }
        }
      }
    }
  }

  .cartSummary {
    padding: 15px 0 40px 0;

    .cartSummaryMsg {
      margin: 26px 0 0 68vw;
      font-size: 13px;
      color: $color-light-gray;
    }

    .cartSummaryPrice {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 26vw;
      margin: 25px 0 25px 68vw;
      font-size: 13px;
      color: $color-light-gray;

      .cartSummaryPriceTotal {
        font-size: 20px;
      }
    }

    .cartSummarySubmitBtn {
      button {
        width: 26vw;
        height: 58px;
        margin: 0 0 0 68vw;
        background-color: $color-light-gray;
        border: none;
        font-size: 13px;
        opacity: 0.9;
        transition: opacity 0.5s;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
