@import '../../styles/variables.scss';

.productDetailSection {
  display: flex;
  justify-content: end;
  height: 800px;
  padding-top: 120px;
  padding-bottom: 120px;

  .productDetailSectionContainer {
    width: 360px;
    margin-right: 120px;
    color: $color-dark-gray;
    font-size: 14px;
    line-height: 1.4;

    .fa-square-plus {
      position: relative;
      left: 340px;
      bottom: 600px;
      font-size: 20px;
      opacity: 1;
    }
  }
}

.productDetailCategory {
  padding-bottom: 20px;
}

.fa-square-plus:hover {
  background-color: black;
  color: white;
}

.categoryTeg {
  display: flex;
}

.categoryLink {
  padding-right: 13px;
}

.categoryLink::after,
.subCategoryLink::after {
  display: block;
  content: '';
  border-bottom: solid 1px black;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.categoryLink:hover::after,
.subCategoryLink:hover::after {
  transform: scaleX(1);
}

.categoryLink::after,
.subCategoryLink::after {
  transform-origin: 0% 50%;
}

.productDetailSpaces {
  padding-bottom: 5px;

  .productDetailName {
    font-size: 2em;
    font-weight: 350;
  }
}

.productDetailUnderline {
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;

  .productDetailExplanation {
    color: $color-dark-gray;
  }
}

.productDetailUnderlined {
  padding-top: 15px;
  padding-bottom: 13px;
  border-bottom: 1px solid #d4d4c9;
}

.productDetailUndrl {
  padding-top: 15px;
  padding-bottom: 13px;
}

.shoppingCartButton {
  width: 360px;
  height: 58px;
  padding: 20px 15px 20px 15px;
  color: #fffef2;
  background-color: $color-dark-gray;
  border: none;
}

.shoppingCartButton:hover {
  background-color: black;
}

.productDetailImg {
  width: 220px;
  height: 400px;
  position: relative;
  right: 350px;
  bottom: 460px;
}
