@import '../../styles/variables.scss';

.productDetailArticle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 666px;
  background-color: #f5f5e8;

  .productDetailArticleImg {
    width: 300px;
    height: 300px;
  }
}

.detailArticleImg {
  @include center;
}

.productDetailArticleContainer {
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 115px;
  padding-bottom: 115px;
  height: 626px;
  line-height: 1.6;
  color: $font-light-gray;
  font-size: 14px;

  .subDetailFontColor {
    color: $color-dark-gray;
  }
}

.howUseUnderlined {
  padding-bottom: 15px;
  border-bottom: 2px solid black;

  .howUseFontColor {
    color: $color-dark-gray;
    font-size: 30px;
  }
}

.subDetailUnderlined {
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #d4d4c9;
}

.subDetailUnderline {
  padding-top: 14px;
}
