@import '../../styles/variables.scss';

.nav {
  margin-top: 80px;
  background-color: white;
}

.productDetailBackground {
  height: 100%;
  background-color: $color-beige;

  .productDetailLogo {
    position: relative;
    top: 105px;
    left: 30px;
    width: 120px;
    height: 40px;
  }
}

.productDetailButton {
  @include center($justify-content: space-between);
}

.next,
.prev {
  position: relative;
  top: 275px;
  width: 80px;
  height: 80px;
  border: none;
  background-color: $color-dark-gray;
}

.fa-angle-left,
.fa-angle-right {
  color: white;
  font-size: 20px;
}

.indicatorContainor {
  margin-right: 20px;
  margin-left: 20px;
  overflow: hidden;

  .indicatorLine {
    position: relative;
    width: 100vw;
    height: 2px;
    background-color: #cbcbc0;

    .indicatorBlock {
      position: absolute;
      width: 20vw;
      height: 2px;
      background-color: $color-dark-gray;
    }
  }
}
