.nav {
  margin-top: 80px;
  background-color: white;
}

.productDetailBackground {
  background-color: #fffef2;
  height: 100%;
}

.modalContainer {
  overflow: hidden;
}

.mainIngredientModalTextContainer {
  position: fixed;
  z-index: 2;
  height: 100%;
  padding: 160px 40px 80px 40px;
  background-color: #f1f0e8;
}

.fa-x {
  position: relative;
  bottom: 140px;
  left: 640px;
}

.ingredientContainer {
  width: 428px;
  height: 178px;
  margin-right: 106px;
  margin-left: 106px;
  font-size: 14px;
  line-height: 1.6;
  color: #333333;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  cursor: pointer;
}

.ingredientSpacing {
  margin-bottom: 25px;
}

.ingrdSpcng {
  margin-bottom: 30px;
}

.productDetailLogo {
  width: 120px;
  height: 40px;
  position: relative;
  top: 105px;
  left: 30px;
}

.productDetailSection {
  padding-top: 120px;
  padding-bottom: 120px;
  height: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  bottom: 40px;

  .productDetailCategory {
    padding-bottom: 20px;
  }
}

.productDetailSectionContainer {
  margin-right: 120px;
  font-size: 14px;
  line-height: 1.4;
  color: #333333;
}

.fa-square-plus {
  position: relative;
  font-size: 20px;
  top: 345px;
  left: 340px;
}

.productDetailSectionList {
  width: 360px;
}

.productDetailUnderline {
  padding-bottom: 24px;
  border-bottom: 2px solid black;
}

.productDetailUnderlined {
  border-bottom: 1px solid #d4d4c9;
  padding-top: 15px;
  padding-bottom: 13px;
}

.productDetailUndrl {
  padding-top: 15px;
  padding-bottom: 13px;
}

.productDetailSpaces {
  padding-bottom: 10px;
}

.productDetailExplanation {
  color: #666666;
}

.productDetailName {
  font-size: 2em;
  font-weight: 350;
}

.shoppingCartButton {
  padding-top: 20px;
  padding: 20px 15px 20px 15px;
  width: 360px;
  height: 58px;
  border: none;
  background-color: #333333;
  color: #fffef2;
}

.productDetailService {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 100px;

  .productDetailServiceMessage {
    border-right: 1px solid #d4d4c9;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 20px;
    padding-right: 20px;
    height: 67px;
    text-align: center;
    font-size: 14px;
    line-height: 1.6;
    color: #666666;

    .serviceGift {
      color: #333333;
    }
  }
}

.productDetailImg {
  width: 440px;
  height: 430px;
  position: relative;
  right: 470px;
  bottom: 490px;
}
