@import '../../styles/variables.scss';

.productDetailBackground {
  height: 100%;
  background-color: $color-beige;

  .productDetailLogo {
    position: relative;
    top: 105px;
    left: 30px;
    width: 120px;
    height: 40px;
  }

  .productDetailAside {
    height: 852px;
    padding-top: 70px;
    padding-bottom: 150px;

    .productDetailButton {
      @include center($justify-content: space-between);

      .prev,
      .next {
        position: relative;
        top: 275px;
        width: 80px;
        height: 80px;
        background-color: $color-dark-gray;
        border: none;

        .fa-angle-left,
        .fa-angle-right {
          color: white;
          font-size: 20px;
        }
      }
    }

    .subProductDetailAside {
      height: 462px;
      margin-left: 80px;
      margin-right: 80px;
      margin-bottom: 48px;
      overflow: hidden;

      .goodProductUseTogether {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 2989px;
        height: 462px;

        .greatUseTogether {
          font-size: 30px;
        }
      }
    }

    .indicatorContainor {
      margin-right: 20px;
      margin-left: 20px;
      overflow: hidden;

      .indicatorLine {
        position: relative;
        width: 100vw;
        height: 2px;
        background-color: #cbcbc0;

        .indicatorBlock {
          position: absolute;
          width: 20vw;
          height: 2px;
          background-color: $color-dark-gray;
        }
      }
    }
  }
}
