.productDetailAside {
  padding-top: 150px;
  padding-bottom: 150px;
  height: 852px;

  .subProductDetailAside {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 48px;
    height: 462px;
    overflow: hidden;

    .goodProductUseTogether {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      width: 2989px;
      height: 462px;

      .greatUseTogether {
        font-size: 30px;
      }
    }
  }
}

.AsideListImgContainer {
  text-align: center;
}

.AsideListImg {
  margin-left: 10px;
  width: 220px;
  height: 400px;
}

.introductionItem {
  text-align: center;
  line-height: 1.6;
  font-size: 14px;
  color: #333333;
}
