.modalContainer {
  overflow: hidden;

  .mainIngredientModalTextContainer {
    position: fixed;
    z-index: 2;
    height: 100%;
    padding: 160px 40px 80px 40px;
    background-color: #f1f0e8;
    animation: moveDown 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

    .fa-x {
      position: relative;
      bottom: 140px;
      left: 640px;
      animation: moveUp 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
  }
}

@keyframes moveUp {
  /* 하단에서 */
  0% {
    transform: translateX(100%);
  }
  /* 중앙으로 위치 */
  100% {
    transform: translateX(0);
  }
}

/* Hide Modal content */
@keyframes moveDown {
  /* 중앙에 있는 모달 콘텐츠를 */
  0% {
    transform: translateX(-100%);
  }
  /* 하단으로 위치 */
  100% {
    transform: translateX(0);
  }
}

.ingredientContainer {
  width: 428px;
  height: 178px;
  margin-right: 106px;
  margin-left: 106px;
  font-size: 14px;
  line-height: 1.6;
  color: #333333;

  .ingredientSpacing {
    margin-bottom: 25px;
  }

  .ingrdSpcng {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  cursor: pointer;
}
