@import '../../styles/variables.scss';

.FooterBlock {
  display: flex;
  flex-direction: column;

  .footerBlockTitle {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid $color-beige;
    font-size: $font-regular;
  }
}
