@import '../../styles/variables.scss';

.FooterBanner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  padding: 0px 34px;
  border-top: 3px solid $color-beige;
  color: $color-beige;

  .FooterBannerLogoWrapper {
    display: flex;
    align-items: center;

    .FooterBannerLogo {
      font-size: $font-regular;
    }
  }
}
