@import '../../../styles/variables.scss';

.searchImage {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f6f5e8;

  .imageWrapper {
    position: relative;
    animation: $loadEffect;

    .itemImage {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 15vw;
      transform: translate(-50%, 30%);
    }
  }

  .linkWrapper {
    @include center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: $color-dark-gray;
    color: $color-beige;
    cursor: pointer;
  }
}
