@import '../../../styles/variables.scss';

.Search {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 86.5vh;
  width: 100%;
  background-color: $color-beige;

  .searchBox {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 20px;

    .logo {
      width: 9vw;
      height: auto;
      font-size: 20px;
    }

    .searchInputWrapper {
      position: relative;
      margin-top: 25px;
      padding: 15px;

      .searchInput {
        width: 100%;
        height: 40px;
        border: none;
        border-bottom: 1.5px solid #d6d5cc;
        background-color: $color-beige;
      }

      input[type='text'] {
        font-size: $font-large;
        font-weight: lighter;
      }

      input:focus {
        outline: none;
      }

      .searchBtn {
        position: absolute;
        top: 30%;
        right: 7%;
        width: 20px;
        height: 15px;
        border: none;
        background-color: $color-beige;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
