@import '/src/styles/variables.scss';

.loginCard {
  position: fixed;
  padding: 50px;
  width: 450px;
  border: 0;
  background-color: $color-beige;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
