@import '/src/styles/variables.scss';

.loginMessage {
  padding: 0 0 30px 0;

  .titleMessage {
    padding: 10px 0 10px;
    font-size: $font-medium;
    color: $font-gray;
  }
  .contentMessage {
    padding: 10px 0 0 0;
    font-size: $font-small;
    color: $font-light-gray;
  }

  .loginErrorMessage {
    padding: 10px 0 0 0;
    font-size: $font-small;
    color: red;
  }
}
